@import './reset';
@import './variables';
@import './typo';
@import '../../Header/header';
@import '../../Footer/footer';
@import '../../Main/main';

body > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  box-sizing: border-box;
  color: $sitecolor1;
  background-color: $sitecolor4;
  font-family: site_font;
}
