// Color Palette #4286
$sitecolor1: #30360f;
$sitecolor2: #cb401b;
$sitecolor3: #934f28;
$sitecolor4: #cc9764;
$sitecolor5: #e7ddd2;

$sitesize1: 40px;
$sitesize2: 20px;
$sitesize3: 530px;

$fontsize1: 16px;
$fontsize2: 28px;
$fontsize3: 12px;
$fontsize4: 14px;
