@import '../../style/variables';

h2 {
  padding: 10px 0 !important;
  font-weight: bold !important;
}

.tracking_result__wrapper {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 10px;
}

.tracking_result__caption,
.tracking_result__text {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: $fontsize4;
}

.tracking_result__caption {
  font-weight: bold;
}
